

button {
  background-color: rgb(79, 76, 76);
  color: #FFF;
}

img {
  width: 40px;
}

span {
  margin: 0 10px;
}

:host ::ng-deep mat-toolbar{
  border-bottom: 2px solid #00754D;
  background-color: #FFF;

}

.example-spacer {
  flex: 1 1 auto;

}


